<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" href="./static/lib/css//bootstrap.min.css">
  <link rel="stylesheet" href="./static/lib/css/keen-dashboards.css">
  <link rel="stylesheet" href="./static/lib/css/dc.min.css">
  <link rel="stylesheet" href="./static/lib/css/leaflet.css">
  <link rel="stylesheet" href="./static/css/custom.css">
  


</head>
<body class="application">

  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="./">NPS surveys Interactive Visualization</a>
      </div>
    </div>
  </div>

  <div class="container-fluid">

    <div class="row">

      <div class="col-sm-6">     
        <div class="row">
          <!-- Number of surveys -->  
          <div class="col-sm-12"> 
            <div class="chart-wrapper">
              <div class="chart-title">
                Number of surveys
              </div>
              <div class="chart-stage">
                <div id="number-records-nd"></div>
              </div>
            </div>
          </div>
          <!-- Number of surveys -->  
        </div>
        <div class="row">

          <!-- Survay creation date --> 
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Survay creation date
              </div>
              <div class="chart-stage">
                <div id="creation_gr"></div>
              </div>
            </div>
          </div>
          <!-- Survay creation date --> 

          <!-- Survey response day -->
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Survey response day
              </div>
              <div class="chart-stage">
                <div id="response_gr"></div>
              </div>
            </div>
          </div>
          <!-- Survey response day -->


          <div class="col-sm-6">

            <div class="row">
              <!-- Touch point name -->
              <div class="col-sm-12">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    Touch point name
                  </div>
                  <div class="chart-stage">
                    <div id="tp_gr"></div>
                  </div>
                </div>
              </div>
              <!-- Touch point name -->
            </div>
          </div>
          
          <div class="col-sm-6">

            <div class="row">
              <!-- Product Family -->
              <div class="col-sm-12">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    Product Family
                  </div>
                  <div class="chart-stage">
                    <div id="pf_gr"></div>
                  </div>
                </div>
              </div>
              <!-- Product Family -->
            </div>
          </div> 
          <div class="col-sm-6">

            <div class="row">
              <!-- Delay in response (in days) -->
              <div class="col-sm-12">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    Delay in response (in days)
                  </div>
                  <div class="chart-stage">
                    <div id="delay_gr"></div>
                  </div>
                </div>
              </div>
              <!-- Delay in response (in days) -->
            </div>
          </div>
          
          <div class="col-sm-6">

            <div class="row">
              <!-- Age Segment -->
              <div class="col-sm-12">
                <div class="chart-wrapper">
                  <div class="chart-title">
                    Age Segment
                  </div>
                  <div class="chart-stage">
                    <div id="age_gr"></div>
                  </div>
                </div>
              </div>
              <!-- Age Segment -->
            </div>
          </div>           
        </div>
      </div>

      
      <div class="col-sm-6">
        
        <div class="row">
          <!-- Likelihood to recommend -->  
          <div class="col-sm-12">
            <div class="chart-wrapper">
              <div class="chart-title">
                Likelihood to recommend
              </div>
              <div class="chart-stage">
                <div id="ltr_gr"></div>
              </div>
            </div>
          </div>
          <!-- Likelihood to recommend -->  
        </div>
        
        <div class="row">
          <!-- Thématique -->  
          <div class="col-sm-12"> 
            <div class="chart-wrapper">
              <div class="chart-title">
                Thématique
              </div>
              <div class="chart-stage">
                <div class="col-sm-6"> 
                  <div id="tem_gr"></div>
                </div>
                <div class="col-sm-6"> 
                  <div id="temML_gr"></div>
                </div>
              </div>
            </div>
          </div>
          <!-- Thématique -->  
        </div>
      </div>

    </div>

  </div>

  <hr>
  <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

  <script src="./static/lib/js/jquery.min.js"></script>
  <script src="./static/lib/js/bootstrap.min.js"></script>
  <script src="./static/lib/js/underscore-min.js"></script>
  <script src="./static/lib/js/crossfilter.js"></script>
  <script src="./static/lib/js/d3.min.js"></script>
  <script src="./static/lib/js/dc.min.js"></script>
  <script src="./static/lib/js/queue.js"></script>
  <script src="./static/lib/js/leaflet.js"></script>
  <script src="./static/lib/js/leaflet-heat.js"></script>
  <script src="./static/lib/js/keen.min.js"></script>
  <script src='./static/js/graphs.js' type='text/javascript'></script>


</body>
</html>
